@media (min-width: 576px) {
  .btn.btn-primary {
    margin-top: 5%;
  }
}

@media (max-width: 576px) {
  .col-md-6 {
    margin-top: 5%;
  }
}

.btn.btn-primary.text-center {
  margin-bottom: 5%;
}

