.u-section-1 .u-sheet-1 {
  min-height: 408px;
}

.u-section-1 .u-form-1 {
  height: 181px;
  width: 638px;
  margin: 114px auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}