<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>aggiungi-paziente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/aggiungi-paziente.css" th:href="@{/css/aggiungi-paziente.css}">
    <script>
        document.getElementById('button').onclick = function (e) {

            var error = false;

            if(check('cf')) error = true;
            if(check('email')) error = true;
            if(check('telefono')) error = true;
            if(check('nome')) error = true;
            if(check('cognome')) error = true;
            if(check('citta')) error = true;
            if(check('strada')) error = true;
            if(check('civico')) error = true;
            if(check('idStruttura')) error = true;

            if(error) e.preventDefault();

        }

        function check(id) {

            if(document.getElementById(id).value == '')
            {
                if(id == 'cf' && document.getElementById(id).value.length !== 16){
                    return false;
                }
                return true;
            }
            else
            {
                return false;
            }

        }
    </script>
</head>

<body>
    <nav th:replace="/navbar :: navbar"></nav>
    <div class="row">
        <div class="col-md-7 offset-md-3 text-center">
            <h2>Aggiunta nuovo paziente</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-md-4">
            <form class="text-center" action="/patient/add" method="post"><label for="cf" style="margin-top: 12px;">CF</label><input class="form-control" type="text" id="cf" name="cf" placeholder="Inserisci codice fiscale"><label for="email">Email</label><input class="form-control form-control-sm" type="text"
                    id="email" name="email" placeholder="Inserisci email"><label>Tipo strada</label><select class="custom-select" name="via"><option value="via" selected="">Via</option><option value="viale">Viale</option><option value="piazza">Piazza</option><option value="corso">Corso</option><option value="lungomare">Lungomare</option></select><label>Nome strada</label>
                <input
                    class="form-control" type="text" name="strada" id="strada" placeholder="Inserisci nome della strada"><label>Numero civico</label><input class="form-control" type="text" name="civico" id="civico" placeholder="Inserisci numero civico"><label>Telefono</label><input class="form-control" type="text" name="telefono" id="telefono" placeholder="Inserisci numero di telefono"><label>Nome</label>
                    <input
                        class="form-control" type="text" name="nome" id="nome" placeholder="Inserisci il nome"><label>Cognome</label><input class="form-control" type="text" name="cognome" id="cognome" placeholder="Inserisci il cognome"><label>Città</label><input class="form-control" type="text" name="citta" id="citta" placeholder="Inserisci città"><label for="isInterno"
                            style="margin-top: 12px;">Provenienza</label><select class="custom-select" id="isInterno" name="isInterno"><option value="true">Interno</option><option value="false">Esterno</option></select><button class="btn btn-primary" type="submit" id="button"
                            style="margin-top: 17px;">Invia</button></form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-md-4 text-center"><a class="btn btn-primary" role="button" style="margin-top: 50px;" href="/view/healthworker"><i class="fa fa-caret-left"></i></a></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>