<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: #ffffff;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><img class="img-fluid d-flex" src="assets/img/logo.jpg" width="15%" height="15%"><a class="navbar-brand" href="#"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1" style="background: #dadada;">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/statistics">Statistiche</a></li>
                    <li class="nav-item"><a class="nav-link" href="/view/about">Su di Noi<br></a></li>
                </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="/view/landing">Accedi</a></span></div>
        </div>
    </nav>
    <div class="container" style="opacity: 1;">
        <p class="text-center" style="box-shadow: 0px 0px 4px;font-size: 17px;"><br>Hilo è un sistema destinato a tutti.<br>Che tu sia un medico, l'amministratore di una struttura sanitaria<br>oppure un semplice cittadino non importa: Hilo è qui per aiutarti!<br>La nostra mission è quella di fornire una piattaforma aperta
            e&nbsp;<br>semplice da usare che permetta ai medici delle strutture sanitarie<br>di entrare in contatto velocemente e in maniera efficace con i pazienti<br>in un momento storico in cui la velocità in cui si prendono provvedimenti<br>è cruciale.
            Hilo nasce quindi con lo scopo di essere un supporto tangibile<br>per aiutare a combattere, nel suo piccolo, la panemia che ci sta attanagliando<br>da ormai un anno<br><br></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>