<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/navbar-Hilo.css" th:href="@{/css/navbar-Hilo.css}">
    <link rel="stylesheet" href="css/login.css" th:href="@{/css/login.css}">
    <script>
        document.getElementById('button').onclick = function (e) {

            var error = false;

            if(check('username')) error = true;
            if(check('password')) error = true;

            if(error) e.preventDefault();

        }

        function check(id) {

            if(document.getElementById(id).value == '')
            {
                return true;
            }
            else
            {
                return false;
            }

        }
    </script>
</head>

<body th:style="'background: #475d62 url(/img/star-sky.jpg);'">
    <nav th:replace="/navbar :: navbar"></nav>
    <div class="login-dark">
        <form method="post" action="/login">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <img src="img/logo.jpg" th:src="@{/img/logo.jpg}" width="80%" height="80%">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" id="button" type="submit">Log In</button>
            </div>

            <div th:if="${session.error} == true">
                <p> Il nome utente o la password sono errati! </p>
            </div>
            <a class="forgot" href="/forgot">Dimenticato email o password? Clicca qui</a>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>