<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>operatore</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/operatore-homepage.css" th:href="@{/css/operatore-homepage.css}">
</head>

<body>
    <nav th:replace="/navbar :: navbar"></nav>
    <div style="margin-top: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary" role="button" href="/view/swab/add">Inserisci Tampone</a>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary" role="button" href="/view/patient/add">Inserisci Paziente</a>
            </div>
        </div>
    </div>
    <div style="margin-top: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary" role="button" href="/view/swab/find">Cerca tampone</a>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary" role="button" href="/view/patient/find">cerca paziente</a>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div style="margin-top: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary" role="button" href="/view/swab/add">Pubblica esito</a>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary" role="button" href="/swab/gettop">Ottieni tampone da Analizzare</a>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div style="margin-top: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary" role="button" href="/view/page/find">Ottieni pagina Cartella Clinica</a>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary" role="button" href="/view/pagediary">Ottieni pagina Diario Clinico</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>