<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Recover</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/recover.css" th:href="@{/css/recover.css}">
</head>

<body>
    <nav th:replace="/navbar :: navbar"></nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Hai dimenticato le tue credenziali per accedere alla piattaforma? Faccelo sapere!<br></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>E-mail:&nbsp;<a href="mailto:hilo.result@gmail.com">hilo.result@gmail.com</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Centro Assistenza: 800-010-1234</p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>