<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ricerca-tampone-utente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ricerca-tampone-utente.css" th:href="@{/css/ricerca-tampone-utente.css}">
    <script>
        /*<![CDATA[*/
        var result = /*[[${lista}]]*/ + "";
        /*]]>*/
        function button() {
            var xhttp;
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var obj = JSON.parse(this.responseText);
                    var result = "";
                    var i;
                    for (i=0; i< obj.length; i++) {
                        result = "ID: " + obj[i].id + " Risultato: " + obj[i].risultato +"\n";
                    }
                    document.getElementById("result").value = result;
                }
            };

            xhttp.open("POST", "/swab/bypatient", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var str = "cf=" + document.getElementById("cf").value;
            if(str.length !== 16) {
                return;
            }
            xhttp.send(str);
        }

        function iterator(value) {
            result = "ID: " + value.id + " Risultato: " + value.risultato;
        }
    </script>
</head>

<body>
    <nav th:replace="/navbar :: navbar"></nav>
    <div class="row">
        <div class="col-md-7 offset-md-3 text-center">
            <h2>Ricerca tampone per paziente</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-md-4">
            <div class="text-center"><label for="cf" style="margin-top: 12px;">CF</label><input class="form-control" type="text" id="cf" name="cf" placeholder="Inserisci codice fiscale"><button class="btn btn-primary" type="submit" onclick="button()" style="margin-top: 17px;">Invia</button></div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-7 offset-md-3 text-center"><textarea readonly="" cols="50" name="lista" id="result" placeholder="Qui ci saranno tutti i tamponi associati" rows="5"></textarea></div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-md-4 text-center"><a class="btn btn-primary" role="button" style="margin-top: 50px;" href="/view/healthworker"><i class="fa fa-caret-left"></i></a></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>