<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>statistiche</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            /*<![CDATA[*/
            var result = JSON.parse(/*[[${statistics}]]*/);
            /*]]>*/
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Risultati');
            data.addColumn('number', 'Numero');
            data.addRows([
                ['Numero Positivi', result.numPositivi],
                ['Numero Negativi', result.numNegativi],
                ['Numero Inconcludenti', result.numInconcludenti],
                ['Numero Non analizzati', result.numNonAnalizzato]
            ]);

            // Set chart options
            var options = {'title':'Statistiche territorio',
                'width':1200,
                'height':600};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
    <nav th:replace="/navbar :: navbar"></nav>
    <div id="chart_div" class="col-md-5 offset-md-3"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/Navigation-with-Button.css" th:href="@{/css/Navigation-with-Button.css}">

</body>

</html>