<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>su-di-noi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/su-di-noi.css" th:href="@{/css/su-di-noi.css}">
    <link rel="stylesheet" href="css/Navigation-with-Button.css" th:href="@{/css/Navigation-with-Button.css}">

</head>

<body>
    <nav th:replace="/navbar :: navbar"></nav>
    <div class="row">
        <div class="col">
            <h2 class="text-center">Su di noi</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mx-auto">
            <p class="text-center"><br>Siamo degli studenti dell'univerisità degli studi di Salerno che stanno realizzando questa piattaforma come progetto di Ingegneria del Software<br><br></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>